@model HSMobile.Models.UserAccount

@{
    ViewBag.Title = "Cập nhật tài khoản - Hoang Son Mobile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="mb-5">
        <div class="row d-flex justify-content-center " >
            <div class="col-sm-4 p-5" style="border-radius: 20px; box-shadow: rgba(110, 110, 121, 0.3) 0px 7px 29px 0px">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.UserName, "Họ và tên", new { @class = "control-label" })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Admin, "Quyền admin", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Admin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Admin, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Password, "Mật khẩu", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(model => model.AddressUser, "Địa chỉ", new { @class = "control-label" })
                    @Html.EditorFor(model => model.AddressUser, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AddressUser, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12 mt-4 d-flex" style="margin-left: 5px">
                    <input type="submit" value="Lưu" class="btn btn-success w-50" style="margin-right: 15px" />
                    <a class="btn btn-outline-success edit-btn" href="@Url.Action("Index", "UserAccounts/Index")">
                        Quay lại
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .col-md-10 {
        margin-bottom: 10px;
    }

    .control-label {
        font-weight: bold;
        margin: 10px 0 5px 0
    }

    .edit-btn {
        padding: 10px 25px 10px 25px;
    }
</style>